.disable{
  pointer-events:none;
  cursor:not-allowed;
}

/* header /* Header */
.logo{
  position: relative;
  top:0;
  left:0;
  cursor: pointer;
}

a{
  text-decoration: none;
}


header{
  padding:20px;
  height:10vh;
}

header img{
  width:100px;
  margin:0 auto;
}

.left{
  float:left;
}

header ul{
  list-style-type: none;
  float:right;
  position: relative;
  top:-35px;
}

#logoSwitchText{
  color:var(--dcYellow);
}

h1 span{
  text-shadow:1px 2px 1px red;
  color:var(--dcYellow);
}

/* icons */
header i {
  cursor:pointer;
}

.fa-sun{
  color:var(--dcYellow);
  display:none;
}

.fa-moon{
  color:#020E4B;
}

header li{
  display: inline;
}

header p{
  font-size:0.7rem;
  font-weight:bold;
  font-family: sans-serif;
  opacity: 0.5;
}

h1{
  margin:0;
  padding:0;
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;
  letter-spacing: 2px;
  word-spacing: 2px;
}

h1 img{
  width:60px;
  position: relative;
  left:20px;
  top:8px;
}

#soundOn, #soundOff{
  position: relative;
  top:0;
  left:0;
}

#soundOn{
  z-index:1;
}

#soundOff{
  z-index:0;
  left:-20px;
  display: none;
}


/* NEW CODE */

:root{
  --dcRed:#CC4125;
  --dcBlue:#0076F2;
  --dcYellow:#F3D405;

  --marvelRed:#ED1C25;
  --marvelYellow:#FCCA05;
  --marvelBlue:#67C7EB;
}

*{
  margin:0;
  padding:0;
}

body{
  width:100%;
  background-color:var(--dcBlue);
}

/* Box that follows the cursor */
#cursor{
  width:70px;
  height:20px;
  padding:5px 10px;
  background-color:#fff;
  position: absolute;
  top:-50px;
  transition:0.1s;
  pointer-events: none;
  border:1px solid black;
  border-radius:10px;
  display:none;
  z-index: 200;
  text-align:center;
}
/*  Main */

main{
  border:10px dashed red;
  box-sizing: border-box;
  position: relative;
  width:100%;
  height:74vh;
}

img{
  /* height:75px; */
  /* width:100px; */
  position: absolute;
  top:0;
  left:0;
  /* background-color:rgba(255,255,255,0.4);
  border-radius: 50%; */
}

  /* imgContainer */
.imgContainer{

  width:100px;
  height:100px;
  display: none;
  position: absolute;
  animation-name:move;
  animation-iteration-count: infinite;
  animation-direction:reverse;
  animation-duration: 5s;
}

@keyframes move{
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.imgContainer:hover{
  cursor:pointer;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

#batLogo{
  width:155px;
  height:116px;
}

#lanternLogo{
  background-color:rgba(250,250,210,0.5);
  border-radius:50%;
  width:100px;
  height:100px;
}

#flashLogo{
  width:110px;
  height:134px;
}

#wwLogo{
  width:155px;
  height:75px;
}

#aquaLogo{
  width:80px;
  height:94px;
}

#supesLogo{
  width:120px;
  height:90px;
}

/* User Info */
/* User Information */

#userInfo{
  width:100%;
  height:100vh;
  background-color: #000;
  background-color: rgba(0,0,0, 0.7);
  position: fixed;
  top:0;
  display:none;
  z-index:300;
  color:#fff;
  font-family: sans-serif;
}

#userInfo h2{
  padding-top:10px;
}

#name{
  padding-top:20px;
  width:50%;
  height:50vh;
  background-color:var(--dcBlue);
  border:2px solid var(--dcYellow);
  border-radius:15px;
  position: relative;
  top:25%;
  z-index:2;
  margin:0 auto;

}

.close{
  font-size:2rem;
  float:right;
  padding-right:20px;
  color:white;
  cursor:pointer;
}

.field{
  margin:20px;
  text-align: center;
}

.field label{
  font-size:20px;
  font-weight:bold;
  text-align: center;
}

.field input{
  width:200px;
  margin-top:10px;
  padding:5px;
}

.field input:focus{
  outline:none;
}

form{
  width:100%;
}

#play{
  width:10%;
  display:block;
  background-color:#fff;
  padding:10px 20px;
  border-radius:10px;
  margin:0 auto;
  text-align: center;
  transition: all 0.3s;
  text-transform: uppercase;
}

#play:hover{
  background-color:var(--dcRed);
  color:var(--dcYellow);

}

/* End of Game Info */

#endGame{
  width:100%;
  height:100vh;
  background-color: #000;
  background-color: rgba(0,0,0, 0.7);
  position: fixed;
  top:0;
  display:none;
  z-index:300;
  color:#fff;
  font-family: sans-serif;
}

#endOfGame{
  padding-top:20px;
  width:50%;
  height:50vh;
  background-color:var(--dcRed);
  border:2px solid #000;
  border-radius:15px;
  position: relative;
  top:25%;
  z-index:2;
  margin:0 auto;
}

#home{
  width:100px;
  height:30px;
  border-radius:10px;
  transition:all 0.3s;
  cursor:pointer;
  margin:0 auto;
}

#home:hover{
  background-color:var(--dcYellow);
  color:var(--dcBlue);
}

h2, h3{
  text-align: center;
}

#endGameContainer{
  width:80%;
  height:auto;
  margin:0 auto;
}

#statsContainer p{
  font-size:1.2rem;
  line-height: 3rem;
  font-family: sans-serif;
  text-transform: uppercase;
}

/* .center{
display: flex;
align-items: center;
justify-content: center;
} */

.generatedNum{
  display:inline-block;
  z-index: 100;
  position: absolute;
  font-size:3rem;
  color:#fff;
  /* text-shadow: 1px 2px 1px black, -1px -2px 1px black; */
  text-shadow:2px 1px 1px var(--dcYellow), 4px 1px 1px var(--dcRed), 6px 1px 1px var(--dcBlue);
}

/* --- --- --- Footer --- --- --- */
footer{
  width:100%;
  height:9.5vh;
  background-color:var(--dcYellow);
  /* position: relative; */
  /* top:63.5vh; */
}

footer ul{
  width:80%;
  margin:0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
}

footer ul p{
  font-size:1.7rem;
  /* padding-top:47.9px; */

}

footer p, li{
  display:inline-block;
}

.timerShadow{
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
}

#gameInfo{
  width:100%;
}


/* Media Queries */

/* 4k Monitor */
@media only screen and (min-width:2000px)
{

  #name, #endOfGame{
    width:35%;
  } 

  #name h2, #endOfGame h2{
    font-size:2rem;
  }

  #name label, #endOfGame label{
    font-size:1.5rem;
    letter-spacing:2px;
  }

  .field input{
    width:300px;
    padding:10px;
  }

  #play{
    width:200px;
    padding:15px;
  }

  #home{
    width:200px;
    height:40px;
    padding:10px;
  }

  footer{
    height:11vh;
  }
}

/* Phone Size */
@media only screen and (max-width: 600px)
{
  header{
    margin-top:50px;
  }

  .logo{
    width:50px;
    z-index:100;
  }

  h1 img{
    width:50px;
    left:18px;
  }

  header h1{
    font-size:0.7rem;
    position: relative;
    top:-15px;
    /* left:-20px; */
  }

 #soundOn, #soundOff{
    font-size:20px;
  }

  #soundOff, #soundOn{
    position: relative;
    top:3px;
  }

  #soundOn{
    left:-7px;
  }

  #name, #endOfGame{
    width:90%;
  }

  main img{
    width:50%;
  }

  .generatedNum{
    font-size:1.5rem;
  }

  #lanternLogo{
    width:50px;
    height:50px;
  }

  #flashLogo{
    width:55px;
    height:67px;
  }
  
  #wwLogo{
    width:78px;
    height:38px;
  }
  
  #aquaLogo{
    width:40px;
    height:47px;
  }
  
  #supesLogo{
    width:60px;
    height:45px;
  }

  #batLogo{
    width:78px;
    height:58px;
  }

  footer{
    height:8vh;
  }

  footer ul p{
    font-size:1rem;
    /* padding-top:47.9px; */
  }
}