:root{
  --dcRed:#CC4125;
  --dcBlue:#0076F2;
  --dcYellow:#F3D405;

  --marvelRed:#ED1C25;
  --marvelYellow:#FCCA05;
  --marvelBlue:#67C7EB;
}

*{
  margin:0;
  padding:0;
}

body{
  background-color:var(--dcBlue);
}

a{
  text-decoration: none;
  color:#000;
}

.clear{
  clear: both;
}

/* Hide content */
.hide{
  display:none;
}

.show{
  display:block;
}

/* Header */
.logo{
  position: relative;
  top:0;
  left:0;
  cursor: pointer;
}

header{
  padding:20px;

}

header img{
  width:100px;
  margin:0 auto;
}

.left{
  float:left;
}

header ul{
  list-style-type: none;
  float:right;
  position: relative;
  top:-35px;
}

#logoSwitchText{
  color:var(--dcYellow);
}

h1 span{
  text-shadow:1px 2px 1px red;
  color:var(--dcYellow);
}

/* icons */
header i {
  cursor:pointer;
}

.fa-sun{
  color:var(--dcYellow);
  display:none;
}

.fa-moon{
  color:#020E4B;
}

header li{
  display: inline;
}

header p{
  font-size:0.7rem;
  font-weight:bold;
  font-family: sans-serif;
  opacity: 0.5;
}

h1{
  margin:0;
  padding:0;
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;
  letter-spacing: 2px;
  word-spacing: 2px;
}

h1 img{
  width:60px;
  position: relative;
  left:20px;
  top:8px;
}

#soundOn, #soundOff{
  position: relative;
  top:0;
  left:0;
}

#soundOn{
  z-index:1;
  display: none;
}

#soundOff{
  z-index:0;
  left:-20px;

}

/* Main Section (levels)*/
main{
  width:100%;
  text-align: center;
}

main span{
  color:#fff;
  display: block;
  padding:10px 0;
  font-family: sans-serif;
  font-size:0.9rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#mainGrid{
  width:90%;
  margin:0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}

h3{
  font-size:1.3rem;
  font-family: sans-serif;
}

.levelContainer{
  margin:0 auto;
  width:200px;
  background-color:var(--dcYellow);
  /* border:5px solid var(--dcRed); */
  border-radius: 10px;
}

/* Start */
h2{
  color:#fff;
  font-family: sans-serif;
  font-size: 1.2rem;
  padding:5px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.5s;
}

h2:hover{
  color:var(--dcBlue);
}

#startRules{
  width:100%;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

#startRules div{
  width:100px;
  margin:0 auto;
  box-sizing: border-box;
  background-color:var(--dcRed); 
  border-radius: 5px;
  box-shadow:1px 1px 3px #000;
}

#start, #rules{
  position: relative;
  top:0;
  left:0;
  transition: all 0.5s;
}

#start:hover, #rules:hover{
  background-color:var(--dcYellow);
  box-shadow:0 0 2px var(--dcYellow);
}

#start{
  top:150px;
  left:200px;
}

/* Game Rules */
#rules{
  top:150px;
  left:-200px;
}

#gameRules{
  width:100%;
  height:100vh;
  background-color: #000;
  background-color: rgba(0,0,0, 0.7);
  position: fixed;
  top:0;
  display:none;
}

#rulesContainer{
  width:50%;
  height:50vh;
  background-color:var(--dcBlue);
  border:2px solid var(--dcYellow);
  border-radius:15px;
  position: relative;
  top:25%;
  z-index:1;
  margin:0 auto;
  color:#fff;
  font-family: sans-serif;
}

#rulesContainer h4{
  font-size:1.5rem;
  padding-top:10px;
  font-family: sans-serif;
  text-align:center;
}

#rulesContainer ul{
  width:80%;
  list-style-type: none;
  margin:0 auto;
  padding-top:15px;
}

#rulesContainer li{
  line-height: 2rem;
}

.close{
  font-size:2rem;
  float:right;
  padding-right:20px;
  color:white;
  cursor:pointer;
}


/* Heroes */
#heroesContainer{
  width:100%;
}

.container{
  width:100%;
  text-align: center;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  z-index:0;
}

.container img{
  height:400px;
}

#spidey{
  height:300px;
  margin-top:100px;
}

#marvelHeroes{
  display:none;
}

#marvelVillains{
  display:none;
}

#dcVillains{
  display: none;
}

#seid{
  opacity:0.3;
}

/* Media Queries */

/* Full Screen */
@media only screen and (min-width:1300px)
{

}

@media only screen and (max-width:1300px)
{

}

@media only screen and (max-width:1000px)
{

}

/* Tablet */
@media only screen and (max-width: 800px)
{
  .logo{
    width:80px;
  }

  #logoSwitchText{
    font-size:0.2rem;
  }
  header h1{
    font-size:1rem;
    position: relative;
    left:-30px;
  }

  #dark, #soundOn{
    font-size:20px;
  }

  #mainGrid{
    width:100%;
    margin-top:100px;
  }
  .levelContainer{
    width:140px;
    font-size:0.8rem;
    line-height: 1.4rem;
  }

  .container img{
    height:290px;
  }
  #startRules{
    display:block;
  }

  #start{
    float:left;
  }
  #rules{
    float:right;
  }
}

/* Phone Size */
@media only screen and (max-width: 600px)
{

  header{
    margin-top:50px;
  }
  .logo{
    width:100px;
    z-index:100;
  }

  #logoSwitchText{
    font-size:0.2rem;
  }

  header h1{
    font-size:0.7rem;
    position: relative;
    top:-15px;
    left:-44px;
  }

 #soundOn, #soundOff{
    font-size:20px;
  }

  #dark{
    font-size:15px;
    position: relative;
    top:-7px;
  }

  #soundOff, #soundOn{
    position: relative;
    top:-5px;
  
  }

  #mainGrid{
    width:100%;
    margin-top:100px;
    justify-content: center;
  }

  .levelContainer{
    width:110px;
    padding:5px;
    font-size:0.8rem;
    line-height: 1.4rem;
  }

  .visible{
    display: none;
  }

  .middleImg{
    display:block;
  } 

  #start{
    top:150px;
    left:100px;
  }
  
  /* Game Rules */
  #rules{
    top:150px;
    left:-100px;
  }
}

/* Mobile  > 400 */
@media only screen and (max-width: 400px)
{
  .logo{
    width:80px;
  }

  #logoSwitchText{
    font-size:0.2rem;
  }
  header h1{
    font-size:1rem;
    position: relative;
    left:-30px;
  }

  #dark, #soundOn{
    font-size:20px;
  }

  #mainGrid{
    width:100%;
    margin-top:100px;
    justify-content: center;
  }

  .levelContainer{
    width:100px;
    padding:5px;
    font-size:0.8rem;
    line-height: 1.4rem;
  }

  .visible{
    display: none;
  }

  .middleImg{
    display:block;
  } 

  #start{
    top:150px;
    left:50px;
  }
  
  #rules{
    top:150px;
    left:-50px;
  }
}