:root{
  --dcRed:#CC4125;
  --dcBlue:#0076F2;
  --dcYellow:#F3D405;

  --marvelRed:#ED1C25;
  --marvelYellow:#FCCA05;
  --marvelBlue:#67C7EB;
}

*{
  margin:0;
  padding:0;
}

body{
  background-color:black;
  background-image:url("../images/background_images/gotham.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position:center;
  background-size:cover;
}

a{
  text-decoration: none;
  color:#000;
}

.clear{
  clear: both;
}

/* Hide content */
.hide{
  display:none;
}

.show{
  display:block;
}

.logo{
  position: relative;
  top:0;
  left:0;
  cursor: pointer;
}

header{
  padding:20px;
}

header img{
  width:100px;
  margin:0 auto;
}

#soundOn, #soundOff{
  color:#fff;
}

#logoSwitchText{
  color:#fff;
}

.left{
  float:left;
}

header ul{
  list-style-type: none;
  float:right;
  position: relative;
  top:-35px;
}

/* icons */
header i {
  cursor:pointer;
}

header li{
  display: inline;
}

#soundOn, #soundOff{
  position: relative;
  top:0;
  left:0;
}

#soundOn{
  z-index:1;
}

#soundOff{
  z-index:0;
  left:-20px;
  display: none;
}

.fa-sun{
  color:var(--dcYellow);
  display:inline-block;
}

.fa-moon{
  color:#020E4B;
  display:none;
}

header p{
  font-size:0.7rem;
  font-weight:bold;
  font-family: sans-serif;
  opacity: 0.5;
}

h1{
  margin:0;
  padding:0;
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;
  letter-spacing: 2px;
  word-spacing: 2px;
  color:var(--dcYellow);
  text-shadow: 2px 3px 2px var(--dcRed);
}

h1 img{
  width:60px;
  position: relative;
  left:20px;
  top:8px;
}

/* Main Section */
main{
  width:100%;
  text-align: center;
}

main span{
  color:#fff;
}

#mainGrid{
  width:90%;
  margin:0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

h3{
  font-size:1.3rem;
  font-family: sans-serif;
}

.levelContainer{
  margin:0 auto;
  width:200px;
  background-color:var(--dcYellow);
  border:5px solid var(--dcRed);
  border-radius: 10px;
}

/* Start */
h2{
  color:#fff;
  font-family: sans-serif;
  font-size: 1.2rem;
  padding:5px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.5s;
}

h2:hover{
  color:var(--dcBlue);
}

#startRules{
  width:100%;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#startRules div{
  width:100px;
  margin:0 auto;
  box-sizing: border-box;
  background-color:var(--dcRed); 
  border-radius: 5px;
  box-shadow:1px 1px 3px #000;
}

#start, #rules{
  position: relative;
  top:0;
  left:0;
  transition: all 0.5s;
  cursor: pointer;
  z-index:1;
}

#start:hover, #rules:hover{
  background-color:var(--dcYellow);
  box-shadow:0 0 2px var(--dcYellow);

}

#start{
  top:150px;
  left:200px;
}

/* Game Rules */
#rules{
  top:150px;
  left:-200px;
}

#gameRules{
  width:100%;
  height:100vh;
  background-color: #000;
  background-color: rgba(0,0,0, 0.7);
  position: fixed;
  top:0;
  display:none;
}

#rulesContainer{
  width:50%;
  height:50vh;
  background-color:var(--dcBlue);
  border:2px solid var(--dcYellow);
  border-radius:15px;
  position: relative;
  top:25%;
  z-index:1;
  margin:0 auto;
  color:#fff;
  font-family: sans-serif;
}

#rulesContainer h4{
  font-size:1.5rem;
  padding-top:10px;
  font-family: sans-serif;
  text-align:center;
}

#rulesContainer ul{
  width:80%;
  list-style-type: none;
  margin:0 auto;
  padding-top:15px;
}

#rulesContainer li{
  line-height: 2rem;
}

/* Heroes */

#heroesContainer{
  width:100%;
}

.container{
  width:100%;
  text-align: center;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.container img{
  height:400px;
}

#spidey{
  height:300px;
  position: relative;
  top:100px;
}

#darkseid{
  transform-origin:200% center; 
  position:relative; 
  animation:rotate 5s linear infinite; 
  opacity: 0.1;
  transition:all 6s;
}

#seid{
  opacity:0.1;
  transition:3s;
  border-radius:75%;
}

#seid:hover{
  background-color: rgba(245,241,222,0.3);
  opacity:1;
}

#darkseid:hover{
  opacity:1;
  cursor: pointer;
} 

div:before 
{ content:''; 
  position:absolute; 
  /* height:100%; 
  width:100%;  */

  animation:rotate 2s linear reverse infinite; 
}
@keyframes rotate 
{ 
  50% { 

        transform: scaleY(1.01);
        transform: scaleX(1.01);
  } 
  100%{

  } 
} 

#marvelHeroes{
  display:none;
}

#marvelVillains{
  display:none;
}

#dcVillains{
  display: none;
}

#dcHeroes{
  display:none;
} 

/* Media Queries */

/* Tablet */
@media only screen and (max-width: 800px)
{
  .logo{
    width:80px;
  }

  #logoSwitchText{
    font-size:0.2rem;
  }
  header h1{
    font-size:1rem;
    position: relative;
    left:-30px;
  }

  #dark, #soundOn{
    font-size:20px;
  }

  #mainGrid{
    width:100%;
    margin-top:100px;
  }
  .levelContainer{
    width:140px;
    font-size:0.8rem;
    line-height: 1.4rem;
  }

  .container img{
    height:290px;
  }
  #startRules{
    display:block;
  }

  #start{
    float:left;
  }
  #rules{
    float:right;
  }
}

/* Phone Size */
/* @media only screen and (max-width: 500px)
{
  .logo{
    width:80px;
  }

  #logoSwitchText{
    font-size:0.2rem;
  }
  header h1{
    font-size:1rem;
    position: relative;
    left:-30px;
  }

  #soundOn{
    color:#fff;
  }

  #dark, #soundOn{
    font-size:20px;
  }

  #mainGrid{
    width:100%;
    margin-top:100px;
  }
  .levelContainer{
    width:140px;
    font-size:0.8rem;
    line-height: 1.4rem;
  }

  #heroes{
    display: none;
    clear:both;
  }
} */

@media only screen and (max-width: 600px)
{

  header{
    margin-top:50px;
  }

  .logo{
    width:50px;
    z-index:100;
  }

  h1 img{
    width:50px;
    left:18px;
  }

  #logoSwitchText{
    font-size:0.2rem;
  }

  header h1{
    font-size:0.7rem;
    position: relative;
    top:-15px;
    left:0px;
  }

 #soundOn, #soundOff{
    font-size:20px;
  }

  #light{
    font-size:15px;
    position: relative;
    top:1px;
  }

  #soundOff, #soundOn{
    position: relative;
    top:3px;
  }

  #soundOn{
    left:-7px;
  }

  #mainGrid{
    width:100%;
    margin-top:75px;
    justify-content: center;
  }

  .levelContainer{
    width:110px;
    padding:5px;
    font-size:0.8rem;
    line-height: 1.4rem;
  }

  .visible{
    display: none;
  }

  .middleImg{
    display:block;
  } 

  #start{
    top:150px;
    left:100px;
  }
  
  /* Game Rules */
  #rules{
    top:150px;
    left:-100px;
  }

  #darkseid{
    opacity: 1;
  }
}